.button {
    -fx-text-fill: green;
}

.item-pane,
.draw-pane {
    -fx-background-color: #dddddd;
    -fx-background-radius: 5px;
}

.draw-pane-bg {
    -fx-background-color: #dd0000;
}

.grid-pane {
    -fx-background-color: #666666;
}