.button {
    -fx-text-fill: green;
}

.tool-bar {

}
.draw-pane {
    -fx-background-color: #dddddd;
    -fx-background-radius: 0px;
}

.active-pane {
    -fx-border-color: red;
    -fx-border-radius: 0px;
}

.draw-pane-bg {
    -fx-background-color: #ff9090;
}

.grid-pane {
    -fx-background-color: #b6afaf;
}